nav {
    height: 7vh;
    margin:0;
    display: static;
}

html {
    height: 100vh;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.notcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.notcontainer div {
    margin: 0;
}

.picker {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    height: 48px;
}

.divContainer {
    margin: 0;
    background: black;
    width: 80%;
    height: 200px;
}
select {
    margin: 10px;
    width: 95%;
}

#color {
    width: 95%;
}