nav {
    height: 7vh;
    margin:0;
    display: static;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 11;
}

html {
    height: 100vh;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.notcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    z-index: 10;
    padding-top: 60px;
}

.picker {
    position: fixed;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0 10px 45%;
    width: 55%;
}

.logo {
    height: 48px;
}

.divContainer {
    width: 70%;
    height: auto;
}

.divContainer > div {
    margin-bottom: 15px;
    width: 100%;
    background: #7c4dff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.divContainer > div:first-child {
    border-top-left-radius: 50px;
}

.divContainer > div:last-child {
    border-bottom-right-radius: 50px;
}

.divContainer > div > h1 {
    padding: 0; margin: 0;
    width: 90%; text-align: center;
    font-size: 1.2em;
}
select {
    margin: 10px;
    width: 95%;
}

#color {
    width: 95%;
}