<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>UniLamp</title>
    <meta name="description" content="UniLamp">
    <meta name="author" content="Unicorn.class">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <ul>
            <li class="valign-wrapper"><a href="#"><img src="img/logo.png" alt="Logo Uniflix" class="logo"></a></li>
        </ul>
        <span class="brand-logo center">Monitor</span>
    </div>
</nav>

<div class="container">
    <div class="card teal lighten-4">
        <div class="card-content black-text">
            <span class="card-title"><h5>Presence</h5></span>
            <canvas id="presenceChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-4">
        <div class="card-content black-text">
            <span class="card-title"><h5>Remote</h5></span>
            <h2 class="center" th:text="${remote}"></h2>
        </div>
    </div>
    <div class="card teal lighten-4">
        <div class="card-content black-text">
            <span class="card-title"><h5>Distance</h5></span>
            <canvas id="distanceChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-4">
        <div class="card-content black-text">
            <span class="card-title"><h5>Temperature</h5></span>
            <canvas id="temperatureChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-4">
        <div class="card-content black-text">
            <span class="card-title"><h5>Pressure</h5></span>
            <canvas id="pressureChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-4">
        <div class="card-content black-text">
            <span class="card-title"><h5>Humidity</h5></span>
            <canvas id="humidityChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-4 buttons">
        <div class="card-content black-text">
            <span class="card-title"><h5>Button</h5></span>
            <div class="content">
                <a href="#" class="btn-floating btn-large waves-effect waves-light red" onclick="activationBtn(this)"></a>
                <a href="#" class="btn-floating btn-large waves-effect waves-light green" onclick="activationBtn(this)"></a>
                <a href="#" class="btn-floating btn-large waves-effect waves-light blue" onclick="activationBtn(this)"></a>
                <a href="#" class="btn-floating btn-large waves-effect waves-light yellow" onclick="activationBtn(this)"></a>
            </div>
        </div>
    </div>
    <div class="card teal lighten-4">
        <div class="card-content black-text">
            <span class="card-title"><h5>Absolute humidity</h5></span>
            <canvas id="abshumidityChart"></canvas>
        </div>
    </div>
</div>

    <div id="bordel" style="display: none;">
        <div id="xPres1" th:text="${xPres1}"></div>
        <div id="xPres2" th:text="${xPres2}"></div>
        <div id="xPres3" th:text="${xPres3}"></div>
        <div id="xPres4" th:text="${xPres4}"></div>
        <div id="xPres5" th:text="${xPres5}"></div>
        <div id="xPres6" th:text="${xPres6}"></div>
        <div id="xPres7" th:text="${xPres7}"></div>
        <div id="xPres8" th:text="${xPres8}"></div>
        <div id="xPres9" th:text="${xPres9}"></div>
        <div id="xPres10" th:text="${xPres10}"></div>
        <div id="yPres1" th:text="${yPres1}"></div>
        <div id="yPres2" th:text="${yPres2}"></div>
        <div id="yPres3" th:text="${yPres3}"></div>
        <div id="yPres4" th:text="${yPres4}"></div>
        <div id="yPres5" th:text="${yPres5}"></div>
        <div id="yPres6" th:text="${yPres6}"></div>
        <div id="yPres7" th:text="${yPres7}"></div>
        <div id="yPres8" th:text="${yPres8}"></div>
        <div id="yPres9" th:text="${yPres9}"></div>
        <div id="yPres10" th:text="${yPres10}"></div>
        
        <div id="xTemp1" th:text="${xTemp1}"></div>
        <div id="xTemp2" th:text="${xTemp2}"></div>
        <div id="xTemp3" th:text="${xTemp3}"></div>
        <div id="xTemp4" th:text="${xTemp4}"></div>
        <div id="xTemp5" th:text="${xTemp5}"></div>
        <div id="xTemp6" th:text="${xTemp6}"></div>
        <div id="xTemp7" th:text="${xTemp7}"></div>
        <div id="xTemp8" th:text="${xTemp8}"></div>
        <div id="xTemp9" th:text="${xTemp9}"></div>
        <div id="xTemp10" th:text="${xTemp10}"></div>
        <div id="yTemp1" th:text="${yTemp1}"></div>
        <div id="yTemp2" th:text="${yTemp2}"></div>
        <div id="yTemp3" th:text="${yTemp3}"></div>
        <div id="yTemp4" th:text="${yTemp4}"></div>
        <div id="yTemp5" th:text="${yTemp5}"></div>
        <div id="yTemp6" th:text="${yTemp6}"></div>
        <div id="yTemp7" th:text="${yTemp7}"></div>
        <div id="yTemp8" th:text="${yTemp8}"></div>
        <div id="yTemp9" th:text="${yTemp9}"></div>
        <div id="yTemp10" th:text="${yTemp10}"></div>
        
        <div id="xPressure1" th:text="${xPressure1}"></div>
        <div id="xPressure2" th:text="${xPressure2}"></div>
        <div id="xPressure3" th:text="${xPressure3}"></div>
        <div id="xPressure4" th:text="${xPressure4}"></div>
        <div id="xPressure5" th:text="${xPressure5}"></div>
        <div id="xPressure6" th:text="${xPressure6}"></div>
        <div id="xPressure7" th:text="${xPressure7}"></div>
        <div id="xPressure8" th:text="${xPressure8}"></div>
        <div id="xPressure9" th:text="${xPressure9}"></div>
        <div id="xPressure10" th:text="${xPressure10}"></div>
        <div id="yPressure1" th:text="${yPressure1}"></div>
        <div id="yPressure2" th:text="${yPressure2}"></div>
        <div id="yPressure3" th:text="${yPressure3}"></div>
        <div id="yPressure4" th:text="${yPressure4}"></div>
        <div id="yPressure5" th:text="${yPressure5}"></div>
        <div id="yPressure6" th:text="${yPressure6}"></div>
        <div id="yPressure7" th:text="${yPressure7}"></div>
        <div id="yPressure8" th:text="${yPressure8}"></div>
        <div id="yPressure9" th:text="${yPressure9}"></div>
        <div id="yPressure10" th:text="${yPressure10}"></div>
        
        <div id="xHum1" th:text="${xHum1}"></div>
        <div id="xHum2" th:text="${xHum2}"></div>
        <div id="xHum3" th:text="${xHum3}"></div>
        <div id="xHum4" th:text="${xHum4}"></div>
        <div id="xHum5" th:text="${xHum5}"></div>
        <div id="xHum6" th:text="${xHum6}"></div>
        <div id="xHum7" th:text="${xHum7}"></div>
        <div id="xHum8" th:text="${xHum8}"></div>
        <div id="xHum9" th:text="${xHum9}"></div>
        <div id="xHum10" th:text="${xHum10}"></div>
        <div id="yHum1" th:text="${yHum1}"></div>
        <div id="yHum2" th:text="${yHum2}"></div>
        <div id="yHum3" th:text="${yHum3}"></div>
        <div id="yHum4" th:text="${yHum4}"></div>
        <div id="yHum5" th:text="${yHum5}"></div>
        <div id="yHum6" th:text="${yHum6}"></div>
        <div id="yHum7" th:text="${yHum7}"></div>
        <div id="yHum8" th:text="${yHum8}"></div>
        <div id="yHum9" th:text="${yHum9}"></div>
        <div id="yHum10" th:text="${yHum10}"></div>
        
        <div id="xAbsHum1" th:text="${xAbsHum1}"></div>
        <div id="xAbsHum2" th:text="${xAbsHum2}"></div>
        <div id="xAbsHum3" th:text="${xAbsHum3}"></div>
        <div id="xAbsHum4" th:text="${xAbsHum4}"></div>
        <div id="xAbsHum5" th:text="${xAbsHum5}"></div>
        <div id="xAbsHum6" th:text="${xAbsHum6}"></div>
        <div id="xAbsHum7" th:text="${xAbsHum7}"></div>
        <div id="xAbsHum8" th:text="${xAbsHum8}"></div>
        <div id="xAbsHum9" th:text="${xAbsHum9}"></div>
        <div id="xAbsHum10" th:text="${xAbsHum10}"></div>
        <div id="yAbsHum1" th:text="${yAbsHum1}"></div>
        <div id="yAbsHum2" th:text="${yAbsHum2}"></div>
        <div id="yAbsHum3" th:text="${yAbsHum3}"></div>
        <div id="yAbsHum4" th:text="${yAbsHum4}"></div>
        <div id="yAbsHum5" th:text="${yAbsHum5}"></div>
        <div id="yAbsHum6" th:text="${yAbsHum6}"></div>
        <div id="yAbsHum7" th:text="${yAbsHum7}"></div>
        <div id="yAbsHum8" th:text="${yAbsHum8}"></div>
        <div id="yAbsHum9" th:text="${yAbsHum9}"></div>
        <div id="yAbsHum10" th:text="${yAbsHum10}"></div>
        
        <div id="xDist1" th:text="${xDist1}"></div>
        <div id="xDist2" th:text="${xDist2}"></div>
        <div id="xDist3" th:text="${xDist3}"></div>
        <div id="xDist4" th:text="${xDist4}"></div>
        <div id="xDist5" th:text="${xDist5}"></div>
        <div id="xDist6" th:text="${xDist6}"></div>
        <div id="xDist7" th:text="${xDist7}"></div>
        <div id="xDist8" th:text="${xDist8}"></div>
        <div id="xDist9" th:text="${xDist9}"></div>
        <div id="xDist10" th:text="${xDist10}"></div>
        <div id="yDist1" th:text="${yDist1}"></div>
        <div id="yDist2" th:text="${yDist2}"></div>
        <div id="yDist3" th:text="${yDist3}"></div>
        <div id="yDist4" th:text="${yDist4}"></div>
        <div id="yDist5" th:text="${yDist5}"></div>
        <div id="yDist6" th:text="${yDist6}"></div>
        <div id="yDist7" th:text="${yDist7}"></div>
        <div id="yDist8" th:text="${yDist8}"></div>
        <div id="yDist9" th:text="${yDist9}"></div>
        <div id="yDist10" th:text="${yDist10}"></div>
    </div>

    <script src="js/materialize.js"></script>
    <script src="js/monitor.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script th:inline="javascript">
    var ctx = document.getElementById("presenceChart").getContext('2d');
    var presenceChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [$("#xPres1").text(),$("#xPres2").text(),$("#xPres3").text(),$("#xPres4").text(),$("#xPres5").text(),$("#xPres6").text(),$("#xPres7").text(),$("#xPres8").text(),$("#xPres9").text(),$("#xPres10").text()],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [$("#yPres1").text(),$("#yPres2").text(),$("#yPres3").text(),$("#yPres4").text(),$("#yPres5").text(),$("#yPres6").text(),$("#yPres7").text(),$("#yPres8").text(),$("#yPres9").text(),$("#yPres10").text()],
                lineTension: 0,
                steppedLine: 'before',
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scaleShowHorizontalLines: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                        max: 1,
                        stepSize:1,
                        callback: function(value){if (value == 1) return "Présence"; else return "Pas de présence"}
                    },
                    gridLines: {
                        drawOnChartArea: false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("distanceChart").getContext('2d');
    var distanceChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [$("#xDist1").text(),$("#xDist2").text(),$("#xDist3").text(),$("#xDist4").text(),$("#xDist5").text(),$("#xDist6").text(),$("#xDist7").text(),$("#xDist8").text(),$("#xDist9").text(),$("#xDist10").text()],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [$("#yDist1").text(),$("#yDist2").text(),$("#yDist3").text(),$("#yDist4").text(),$("#yDist5").text(),$("#yDist6").text(),$("#yDist7").text(),$("#yDist8").text(),$("#yDist9").text(),$("#yDist10").text()],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("temperatureChart").getContext('2d');
    var temperatureChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [$("#xTemp1").text(),$("#xTemp2").text(),$("#xTemp3").text(),$("#xTemp4").text(),$("#xTemp5").text(),$("#xTemp6").text(),$("#xTemp7").text(),$("#xTemp8").text(),$("#xTemp9").text(),$("#xTemp10").text()],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [$("#yTemp1").text(),$("#yTemp2").text(),$("#yTemp3").text(),$("#yTemp4").text(),$("#yTemp5").text(),$("#yTemp6").text(),$("#yTemp7").text(),$("#yTemp8").text(),$("#yTemp9").text(),$("#yTemp10").text()],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("pressureChart").getContext('2d');
    var pressureChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [$("#xPressure1").text(),$("#xPressure2").text(),$("#xPressure3").text(),$("#xPressure4").text(),$("#xPressure5").text(),$("#xPressure6").text(),$("#xPressure7").text(),$("#xPressure8").text(),$("#xPressure9").text(),$("#xPressure10").text()],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [$("#yPressure1").text(),$("#yPressure2").text(),$("#yPressure3").text(),$("#yPressure4").text(),$("#yPressure5").text(),$("#yPressure6").text(),$("#yPressure7").text(),$("#yPressure8").text(),$("#yPressure9").text(),$("#yPressure10").text()],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("humidityChart").getContext('2d');
    var humidityChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [$("#xHum1").text(),$("#xHum2").text(),$("#xHum3").text(),$("#xHum4").text(),$("#xHum5").text(),$("#xHum6").text(),$("#xHum7").text(),$("#xHum8").text(),$("#xHum9").text(),$("#xHum10").text()],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [$("#yHum1").text(),$("#yHum2").text(),$("#yHum3").text(),$("#yHum4").text(),$("#yHum5").text(),$("#yHum6").text(),$("#yHum7").text(),$("#yHum8").text(),$("#yHum9").text(),$("#yHum10").text()],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false,
                        callback: function(value){return value+ "%"}
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("abshumidityChart").getContext('2d');
    var abshumidityChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [$("#xAbsHum1").text(),$("#xAbsHum2").text(),$("#xAbsHum3").text(),$("#xAbsHum4").text(),$("#xAbsHum5").text(),$("#xAbsHum6").text(),$("#xAbsHum7").text(),$("#xAbsHum8").text(),$("#xAbsHum9").text(),$("#xAbsHum10").text()],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [$("#yAbsHum1").text(),$("#yAbsHum2").text(),$("#yAbsHum3").text(),$("#yAbsHum4").text(),$("#yAbsHum5").text(),$("#yAbsHum6").text(),$("#yAbsHum7").text(),$("#yAbsHum8").text(),$("#yAbsHum9").text(),$("#yAbsHum10").text()],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false,
                        callback: function(value){return value+ "%"}
                    }
                }]
            }
        }
    });
</script>
</body>
</html>