<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">

  <title>UniLamp</title>
  <meta name="description" content="UniLamp">
  <meta name="author" content="Unicorn.class">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <ul>
            <li class="valign-wrapper"><img src="img/logo.png" alt="Logo Uniflix" class="logo"></li>
        </ul>
        <a href="#" class="brand-logo center">Monitor</a>
    </div>
</nav>

<div class="container">
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Presence</h5></span>
            <canvas id="presenceChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Remote</h5></span>
            <h2 class="center" th:text="${remote}"></h2>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Distance</h5></span>
            <canvas id="distanceChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Temperature</h5></span>
            <canvas id="temperatureChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Pressure</h5></span>
            <canvas id="pressureChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Humidity</h5></span>
            <canvas id="humidityChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5 buttons">
        <div class="card-content black-text">
            <span class="card-title"><h5>Button</h5></span>
            <div class="content">
                <a href="#" class="led"></a>
                <a href="#" class="led"></a>
                <a href="#" class="led"></a>
                <a href="#" class="led"></a>
            </div>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Absolute humidity</h5></span>
            <canvas id="abshumidityChart"></canvas>
        </div>
    </div>
</div>

    <script src="js/materialize.js"></script>
    <script src="js/monitor.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script>
        /*<![CDATA[*/
        var ctx = document.getElementById("presenceChart").getContext('2d');
        var presenceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["12h","13h","14h","15h","16h","17h"],
                datasets: [{
                    label: 'Valeur du Capteur',
                    data: [0,0,1,0,1,1],
                    lineTension: 0,
                    steppedLine: 'before',
                    backgroundColor: [
                        'rgba(232, 87, 18, 0.2)'
                    ],
                    borderColor: [
                        'rgba(232, 87, 18,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scaleShowHorizontalLines: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            min: 0,
                            max: 1,
                            stepSize:1,
                            callback: function(value){if (value == 1) return "Présence"; else return "Pas de présence"}
                        },
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }]
                }
            }
        });
        ctx = document.getElementById("distanceChart").getContext('2d');
        var distanceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["12h","13h","14h","15h","16h","17h"],
                datasets: [{
                    label: 'Valeur du Capteur',
                    data: [0.9,10,21,20,17.4,13.2],
                    backgroundColor: [
                        'rgba(232, 87, 18, 0.2)'
                    ],
                    borderColor: [
                        'rgba(232, 87, 18,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        }
                    }]
                }
            }
        });
        ctx = document.getElementById("temperatureChart").getContext('2d');
        var temperatureChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["12h","13h","14h","15h","16h","17h"],
                datasets: [{
                    label: 'Valeur du Capteur',
                    data: [18.8,18.9,19.2,19.1,19.3,19.5],
                    backgroundColor: [
                        'rgba(232, 87, 18, 0.2)'
                    ],
                    borderColor: [
                        'rgba(232, 87, 18,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        }
                    }]
                }
            }
        });
        ctx = document.getElementById("pressureChart").getContext('2d');
        var pressureChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["12h","13h","14h","15h","16h","17h"],
                datasets: [{
                    label: 'Valeur du Capteur',
                    data: [1013.25,1013.23,1013.28,1013.29,1013.25,1013.24],
                    backgroundColor: [
                        'rgba(232, 87, 18, 0.2)'
                    ],
                    borderColor: [
                        'rgba(232, 87, 18,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        }
                    }]
                }
            }
        });
        ctx = document.getElementById("humidityChart").getContext('2d');
        var humidityChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["12h","13h","14h","15h","16h","17h"],
                datasets: [{
                    label: 'Valeur du Capteur',
                    data: [85,78,79,77,80,83],
                    backgroundColor: [
                        'rgba(232, 87, 18, 0.2)'
                    ],
                    borderColor: [
                        'rgba(232, 87, 18,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false,
                            callback: function(value){return value+ "%"}
                        }
                    }]
                }
            }
        });
        ctx = document.getElementById("abshumidityChart").getContext('2d');
        var abshumidityChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["12h","13h","14h","15h","16h","17h"],
                datasets: [{
                    label: 'Valeur du Capteur',
                    data: [85,78,79,77,80,83],
                    backgroundColor: [
                        'rgba(232, 87, 18, 0.2)'
                    ],
                    borderColor: [
                        'rgba(232, 87, 18,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false,
                            callback: function(value){return value+ "%"}
                        }
                    }]
                }
            }
        });
        /*]]>*/
    </script>
</body>
</html>