<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>UniLamp</title>
    <meta name="description" content="UniLamp">
    <meta name="author" content="Unicorn.class">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <ul>
            <li class="valign-wrapper"><a href="#"><img src="img/logo.png" alt="Logo Uniflix" class="logo"></a></li>
        </ul>
        <span class="brand-logo center">Monitor</span>
    </div>
</nav>

<div class="container">
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Presence</h5></span>
            <canvas id="presenceChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Remote</h5></span>
            <h2 class="center" th:text="${remote}"></h2>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Distance</h5></span>
            <canvas id="distanceChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Temperature</h5></span>
            <canvas id="temperatureChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Pressure</h5></span>
            <canvas id="pressureChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Humidity</h5></span>
            <canvas id="humidityChart"></canvas>
        </div>
    </div>
    <div class="card teal lighten-5 buttons">
        <div class="card-content black-text">
            <span class="card-title"><h5>Button</h5></span>
            <div class="content">
                <a href="#" class="btn-floating btn-large waves-effect waves-light red" onclick="activationBtn(this)"></a>
                <a href="#" class="btn-floating btn-large waves-effect waves-light green" onclick="activationBtn(this)"></a>
                <a href="#" class="btn-floating btn-large waves-effect waves-light blue" onclick="activationBtn(this)"></a>
                <a href="#" class="btn-floating btn-large waves-effect waves-light yellow" onclick="activationBtn(this)"></a>
            </div>
        </div>
    </div>
    <div class="card teal lighten-5">
        <div class="card-content black-text">
            <span class="card-title"><h5>Absolute humidity</h5></span>
            <canvas id="abshumidityChart"></canvas>
        </div>
    </div>
</div>

    <div id="bordel" style="display: none;">
        <div id="xPres1" th:text="${xPres1}"></div>
    </div>

    <script src="js/materialize.js"></script>
    <script src="js/monitor.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script th:inline="javascript">
    var ctx = document.getElementById("presenceChart").getContext('2d');
    var presenceChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [/*[[${xPres1}]]*/"0h00",/*[[${xPres2}]]*/"0h00",/*[[${xPres3}]]*/"0h00",/*[[${xPres4}]]*/"0h00",/*[[${xPres5}]]*/"0h00",/*[[${xPres6}]]*/"0h00",/*[[${xPres7}]]*/"0h00",/*[[${xPres8}]]*/"0h00",/*[[${xPres9}]]*/"0h00",/*[[${xPres10}]]*/"0h00"],
            datasets: [{
                label: 'Valeur du Capteur',

                lineTension: 0,
                steppedLine: 'before',
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scaleShowHorizontalLines: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                        max: 1,
                        stepSize:1,
                        callback: function(value){if (value == 1) return "Présence"; else return "Pas de présence"}
                    },
                    gridLines: {
                        drawOnChartArea: false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("distanceChart").getContext('2d');
    var distanceChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [/*[[${xDist1}]]*/"0h00",/*[[${xDist2}]]*/"0h00",/*[[${xDist3}]]*/"0h00",/*[[${xDist4}]]*/"0h00",/*[[${xDist5}]]*/"0h00",/*[[${xDist6}]]*/"0h00",/*[[${xDist7}]]*/"0h00",/*[[${xDist8}]]*/"0h00",/*[[${xDist9}]]*/"0h00",/*[[${xDist10}]]*/"0h00"],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [/*[[${yDist1}]]*/0,/*[[${yDist2}]]*/0,/*[[${yDist3}]]*/0,/*[[${yDist4}]]*/0,/*[[${yDist5}]]*/0,/*[[${yDist6}]]*/0,/*[[${yDist7}]]*/0,/*[[${yDist8}]]*/0,/*[[${yDist9}]]*/0,/*[[${yDist10}]]*/0],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("temperatureChart").getContext('2d');
    var temperatureChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [/*[[${xTemp1}]]*/"0h00",/*[[${xTemp2}]]*/"0h00",/*[[${xTemp3}]]*/"0h00",/*[[${xTemp4}]]*/"0h00",/*[[${xTemp5}]]*/"0h00",/*[[${xTemp6}]]*/"0h00",/*[[${xTemp7}]]*/"0h00",/*[[${xTemp8}]]*/"0h00",/*[[${xTemp9}]]*/"0h00",/*[[${xTemp10}]]*/"0h00"],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [/*[[${yTemp1}]]*/0,/*[[${yTemp2}]]*/0,/*[[${yTemp3}]]*/0,/*[[${yTemp4}]]*/0,/*[[${yTemp5}]]*/0,/*[[${yTemp6}]]*/0,/*[[${yTemp7}]]*/0,/*[[${yTemp8}]]*/0,/*[[${yTemp9}]]*/0,/*[[${yTemp10}]]*/0],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("pressureChart").getContext('2d');
    var pressureChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [/*[[${xPressure1}]]*/"0h00",/*[[${xPressure2}]]*/"0h00",/*[[${xPressure3}]]*/"0h00",/*[[${xPressure4}]]*/"0h00",/*[[${xPressure5}]]*/"0h00",/*[[${xPressure6}]]*/"0h00",/*[[${xPressure7}]]*/"0h00",/*[[${xPressure8}]]*/"0h00",/*[[${xPressure9}]]*/"0h00",/*[[${xPressure10}]]*/"0h00"],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [/*[[${yPressure1}]]*/0,/*[[${yPressure2}]]*/0,/*[[${yPressure3}]]*/0,/*[[${yPressure4}]]*/0,/*[[${yPressure5}]]*/0,/*[[${yPressure6}]]*/0,/*[[${yPressure7}]]*/0,/*[[${yPressure8}]]*/0,/*[[${yPressure9}]]*/0,/*[[${yPressure10}]]*/0],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("humidityChart").getContext('2d');
    var humidityChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [/*[[${xHum1}]]*/"0h00",/*[[${xHum2}]]*/"0h00",/*[[${xHum3}]]*/"0h00",/*[[${xHum4}]]*/"0h00",/*[[${xHum5}]]*/"0h00",/*[[${xHum6}]]*/"0h00",/*[[${xHum7}]]*/"0h00",/*[[${xHum8}]]*/"0h00",/*[[${xHum9}]]*/"0h00",/*[[${xHum10}]]*/"0h00"],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [/*[[${yHum1}]]*/0,/*[[${yHum2}]]*/0,/*[[${yHum3}]]*/0,/*[[${yHum4}]]*/0,/*[[${yHum5}]]*/0,/*[[${yHum6}]]*/0,/*[[${yHum7}]]*/0,/*[[${yHum8}]]*/0,/*[[${yHum9}]]*/0,/*[[${yHum10}]]*/0],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false,
                        callback: function(value){return value+ "%"}
                    }
                }]
            }
        }
    });
    ctx = document.getElementById("abshumidityChart").getContext('2d');
    var abshumidityChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [/*[[${xAbsHum1}]]*/"0h00",/*[[${xAbsHum2}]]*/"0h00",/*[[${xAbsHum3}]]*/"0h00",/*[[${xAbsHum4}]]*/"0h00",/*[[${xAbsHum5}]]*/"0h00",/*[[${xAbsHum6}]]*/"0h00",/*[[${xAbsHum7}]]*/"0h00",/*[[${xAbsHum8}]]*/"0h00",/*[[${xAbsHum9}]]*/"0h00",/*[[${xAbsHum10}]]*/"0h00"],
            datasets: [{
                label: 'Valeur du Capteur',
                data: [/*[[${yAbsHum1}]]*/0,/*[[${yAbsHum2}]]*/0,/*[[${yAbsHum3}]]*/0,/*[[${yAbsHum4}]]*/0,/*[[${yAbsHum5}]]*/0,/*[[${yAbsHum6}]]*/0,/*[[${yAbsHum7}]]*/0,/*[[${yAbsHum8}]]*/0,/*[[${yAbsHum9}]]*/0,/*[[${yAbsHum10}]]*/0],
                backgroundColor: [
                    'rgba(232, 87, 18, 0.2)'
                ],
                borderColor: [
                    'rgba(232, 87, 18,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false,
                        callback: function(value){return value+ "%"}
                    }
                }]
            }
        }
    });
</script>
</body>
</html>