<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UniLamp Mood</title>
    <meta name="description" content="UniLamp">
    <meta name="author" content="Unicorn.class">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">

    <style>

        .logo {
            height: 48px;
        }

        nav {
            height: 7vh;
        }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <ul>
            <li class="valign-wrapper"><img src="img/logo.png" alt="Logo Uniflix" class="logo"></li>
        </ul>
        <a href="#" class="brand-logo center">Remote</a>
    </div>
</nav>

<div class="container">
    <form action="#" th:action="@{/addMood}" th:object="${mood}" method="post">
        <div class="row">
            <h2>Receiver</h2>
            <div class="input-field">
                <select class="browser-default"  placeholder="MyFriend" th:field="*{idBoule}">
                    <option th:value="Nicolas" selected th:text="Nicolas"></option>
                    <option th:value="Victor" th:text="Victor"></option>
                    <option th:value="Senam" th:text="Senam"></option>
                    <option th:value="Elodie" th:text="Elodie"></option>
                    <option th:value="Axel" th:text="Axel"></option>
                </select>
            </div>
            <h2>Mood</h2>
            <div class="input-field">
                <select class="browser-default"  placeholder="MyFriend" th:field="*{name}">
                    <option th:value="Happy" selected th:text="Happy" ></option>
                    <option th:value="Sad" th:text="Sad"></option>
                    <option th:value="Think" th:text="Think"></option>
                    <option th:value="Out" th:text="Out"></option>
                </select>
            </div>
            <div class="col s4 m4 l4">
                <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                    <i class="material-icons right">check</i>
                </button>
            </div>
        </div>
    </form>

    <script src="js/materialize.js"></script>
    <script src="js/jquery.min.js"></script>
    <script>

    </script>
</body>
