<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UniLamp Mood</title>
    <meta name="description" content="UniLamp">
    <meta name="author" content="Unicorn.class">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">

    <style>

        .logo {
            height: 48px;
        }

        nav {
            height: 7vh;
        }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <ul>
            <li class="valign-wrapper"><img src="img/logo.png" alt="Logo Uniflix" class="logo"></li>
        </ul>
        <a href="#" class="brand-logo center">Remote</a>
    </div>
</nav>

<div class="container">
        <div class="row">
            <h2>Receiver</h2>
            <div class="input-field">
                <select class="browser-default"  placeholder="MyFriend">
                    <option>Nicolas</option>
                    <option>Victor</option>
                    <option>Senam</option>
                    <option>Elodie</option>
                    <option>Axel</option>
                </select>
            </div>
            <h2>Mood</h2>
            <div class="input-field">
                <select class="browser-default"  placeholder="MyFriend">
                    <option>Happy</option>
                    <option>Sad</option>
                    <option>Think</option>
                    <option>Out</option>
                </select>
            </div>
            <div class="col s4 m4 l4">
                <button class="btn waves-effect waves-light" type="submit" onclick="sendData()">Valider
                    <i class="material-icons right">check</i>
                </button>
            </div>
        </div>

    </div>
    <script src="js/materialize.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/mood.js"></script>
    
</body>
