<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UniLamp Player</title>
    <meta name="description" content="UniLamp">
    <meta name="author" content="Unicorn.class">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/player.css">
</head>
<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <ul>
            <li class="valign-wrapper"><a href="#"><img src="img/logo.png" alt="Logo Uniflix" class="logo"></a></li>
            <li class="valign-wrapper"><a href="meteo">Weather</a></li>
            <li class="valign-wrapper"><a href="mood">Mood</a></li>
            <li class="valign-wrapper"><a href="musique">Musique</a></li>
            <li class="valign-wrapper"><a href="player">Player</a></li>
            <li class="valign-wrapper"><a href="remote">Remote</a></li>
            <li class="valign-wrapper"><a href="creator">Creator</a></li>
        </ul>
        <span class="brand-logo center">Player</span>
    </div>
</nav>

<div class="container">
    <p th:text="${msg}"></p>
    <a th:each="sc : ${scenarios}" th:href="'play?id='+${sc.getId()}" th:text="'Play #'+${sc.getId()}" class="waves-effect waves-light btn-large"></a>
</div>
</body>
</html>