<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>UniLamp</title>
    <meta name="description" content="UniLamp">
    <meta name="author" content="Unicorn.class">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/scenarioCreate.css">

    <script src="js/html5kellycolorpicker.min.js"></script>
</head>

<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <ul>
            <li class="valign-wrapper"><a href="#"><img src="img/logo.png" alt="Logo Uniflix" class="logo"></a></li>
        </ul>
        <span class="brand-logo center">Creator</span>
    </div>
</nav>

<div class="notcontainer">
    <div class="picker teal lighten-4">
        <select class="browser-default">
            <option>Laumio 1</option>
            <option>Laumio 2</option>
            <option>Laumio 3</option>
        </select>
        <select class="browser-default">
            <option>Turn On a LED</option>
            <option>Turn On a Ring</option>
            <option>Turn On a Column</option>
            <option>Turn On entirely</option>
        </select>
        <br>
        <div class="input-field">
            <input id="idChoosed" type="number" class="validate">
            <label for="idChoosed">idChoosed</label>
        </div>
        <br>
        <div class="input-field">
            <input id="duration" type="number" class="validate">
            <label for="duration">Duration</label>
        </div>
        <canvas id="picker"></canvas>
        <input id="color" value="#54aedb">
        <a class="waves-effect waves-light btn-large" onclick="loadDiv()"><i class="material-icons left">add</i>Ajouter</a>
    </div>
    <div class="content">
        <div class="divContainer">
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue waves-effect waves-light z-depth-4" onclick="sendData()">
        <i class="large material-icons">save</i>
    </a>
</div>

    <script src="js/materialize.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/scenarioCreate.js"></script>

    <script>
        new KellyColorPicker({
            place : 'picker', 
            input : 'color'
        });
    </script>
</body>
</html>